<!DOCTYPE html>
<html lang="en">
<main>
  <header>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <h1 class="emotion">:(</h1>
  </header>
  <p class="description">Your PC ran into a problem and needs to restart.  We're just collecting some error info, and then we'll restart for you.<span role="progress">&nbsp;(0% complete)</span></p>
  <footer>
    <p><small>If you'd like to know more, you can search online later for this error:<span>&nbsp;HAL_INITIALIZATION_FAILED</span></small></p>
  </footer>
</main>
</html>