{% extends 'base.html' %}

{% block question %}
    <h3 class="mt-2">{{ data.question }}</h3>
{% endblock %}

{% block content %}
    <hr class="mt-0 mb-4">
    {% for option in data.options %}
        <label
                {% if option.pk in data.answered_ids and option.pk not in data.correct_answers or option.pk not in data.answered_ids and option.pk in data.correct_answers %}
                    class="checkbox-container invalid"
                {% elif option.pk in data.answered_ids %}
                    class="checkbox-container correct"
                {% else %}
                    class="checkbox-container"
                {% endif %}>
            <input type="checkbox" class="filled-in" name="selected_answers[]"
                   {% if option.pk in data.answered_ids %}checked="checked"{% endif %}>
            <span>{{ option.option }}</span>
        </label>
        <br>
    {% endfor %}
    <a href="{% url 'play' %}">
        <button class="btn btn-default" style="float: right">Continue</button>
    </a>

{% endblock %}